
clear_aliases

export M2_HOME=/opt/Java/maven3
export PATH=$M2_HOME/bin:$PATH

export JAVA_HOME=/opt/Java/jdk17
export PATH=$JAVA_HOME/bin:$PATH

export PROJECT=$(pwd)

export_alias mci 'mvn clean install'
